* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

canvas {
    text-align: center;
    border: 1px solid black;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;

    cursor: crosshair;
    float: left;
}

#wrapper {
    min-height: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    clear: both;
}

.align-horizontally canvas,
.align-horizontally div {
    margin: 0 auto;
    text-align: center;
    float: left;
}

h1 {
    text-align: center;
}

#draw-options {
    border-top: 1px solid black;
    border-right: 1px solid black;
    max-width: 120px;
    float: left;
}

#draw-options > div {
    text-align: center;
    border-bottom: 1px solid black;
    min-height: 59px;
    max-height: 59px;
    min-width: 59px;
    max-width: 59px;
}

#draw-options > div:hover {
    cursor: pointer;
}

#layers {
    border-right: 1px solid black;
    min-width: 120px;
    max-width: 120px;
    float: left;
}

#layers > div {
    text-align: center;
    min-width: 120px;
    min-height: 30px;
    display: inline-block;
    border-bottom: 1px solid black;
}

#draw-options div:nth-child(odd) {
    border-right: 1px solid black;
}

.current-layer {
    background: #40a070;
}
